{% load static %}
<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left">Dashboard</h4>
                <ul class="breadcrumbs pull-left">
                    <li><a href="index.html">Home</a></li>
                    <li><span>Dashboard</span></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 clearfix">
            <div class="user-profile pull-right">
                {% if user.userinfo.profile_pic.url is not null %}
                  <img class="avatar user-thumb" src="{{ user.userinfo.profile_pic.url }}" alt="avatar">
                {% else %}
                  <img class="avatar user-thumb" src="{% static 'music_blog/resourses/css/img/User_Avatar_1.png' %}" alt="avatar">
                {% endif %}
                <h4 class="user-name dropdown-toggle" data-toggle="dropdown"> {{user.first_name}} {{user_data.last_name}}<i class="fa fa-angle-down"></i></h4>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Message</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="{% url 'music_blog:logout' %}">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>
