{% extends 'music_blog/base.html' %}

{% block head %}
<header>
{% include 'music_blog/nav_bar.html' %}
</header>
{% endblock %}

{% block body %}
{% load static %}


        <!----------------  the whole page  ----------------->
        <section class='branch'>
            <nav>
                <div class="clearfix">
                    <h1 class="header-text-box">Crescendo</h1>
                    <ul class="main-nav clearfix js--main">
                        <li><a href="#">Note</a></li>
                        <li><a href="#">Artist</a></li>
                        <li><a href="#">About</a></li>
                        <li class="clearfix"><a href="#" id="signu">Signup</a></li>
                        <li class="clearfix"><a href="#" id="logi">Login</a></li>
                    </ul>
                    <a class="mobile-nav-icon js--ico"><i class="fas fa-bars"></i></a>
                </div>
            </nav>


            <!----------------  coomposer section without nav  ----------------->
            <div class="composer-section">
                <div class="com-basic-info clearfix">
                    <div class="com-img">
                      {% if user.userinfo.profile_pic.url is not null %}
                          <img src="{{ user.userinfo.profile_pic.url }}">
                      {% else %}
                          <img src="{% static 'music_blog/resourses/css/img/User_Avatar_1.png' %}">
                      {% endif %}
                    </div>
                    <div class="com-info">
                        <h3>{{ composer.fName}}</h3>
                        <h3>31</h3>
                        <h3>English</h3>
                        <h3>Pop, Soul</h3>
                        <h3>Vocals</h3>

                    </div>
                </div>
                <div class="com-details">
                    <div class="info-margin">
                        <label>Full Name</label>
                        <span id='name'>Adele Laurie</span>
                        <label>Nationality</label>
                        <span id='nationality'>English</span> <label>Date Of Birth</label>
                        <span id='birth'>1988</span>
                        <label>Date Of Death</label>
                        <span id='death'>Still Alive</span>
                    </div>
                    <hr>
                    <div class="musical-margin">
                        <h1>Musical Plays</h1>
                        <div class="musical-piece">
                            <img class="test" src="resourses/img/vid-min2.jpg">
                        </div>
                        <div class="musical-piece">
                            <img class="test" src="resourses/img/vid-min2.jpg">
                        </div>
                        <div class="musical-piece">
                            <img class="test" src="resourses/img/vid-min2.jpg">
                        </div>
                    </div>
                </div>
                <!--<h1>ABout</h1>
                    <p>Adele Laurie Blue Adkins MBE is an English singer-songwriter. After graduating from the BRIT School in 2006, Adele signed a recording contract with XL Recordings. In 2007, she received the Brit Awards Critics' Choice award and won the BBC Sound of 2008 poll</p>
                    <h1>Recent Albums</h1>
                    <p>25 - 2015</p>
                    <h1>Most Popular</h1>
                    <p>Someone Like You</p>
                    <p>21 - 2015</p>-->
            </div>
        </section>

{% endblock %}
