{% extends 'music_blog/base.html' %}
{% block body %}
{% load static %}


<section class="section-songs js--section-songs">
    <h1>The latest Songs</h1>
    <div class="row hex hex-animate">
        <div class="row hex-row">
            <div  class="col span-1-of-4 nomargin">
                <div class="hex1">
                    <i class="fas fa-music padding_music"></i>
                </div>
            </div>
            <div  class="col span-1-of-4 nomargin">
                <div class="hex1">
                    <i class="fas fa-headphones-alt"></i>
                </div>
            </div>
            <div  class="col span-1-of-4 nomargin">
                <div class="hex1">
                    <i class="fas fa-guitar"></i>
                </div>
            </div>
            <div  class="col span-1-of-4 nomargin min">
                <div class="hex1">
                    <i class="fa fa-search"></i>
                </div>
            </div>
        </div>
        <div class="row hex-row bottom">
            <div  class="col span-1-of-4 nomargin ">
                <div class="hex1 padding_users">
                    <!--<i class="fas fa-users"></i>-->
                    <i class="fas fa-heartbeat"></i>
                </div>
            </div>
            <div  class="col span-1-of-4 nomargin">
                <div class="hex1 padding-play">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
            <div  class="col span-1-of-4 nomargin min">
                <div class="hex1">
                    <i class="fas fa-compact-disc"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-album">
    <h1>Album of the week</h1>
    <div class="row album-content album-animate">
        <div class="col span-3-of-4 alb album-description">
            <h2>Album Name</h2>
            <h3>Artist Name</h3>
            <p>Content and description of the album Content and description of the album Content and description of the album Content and description of the album Content and description of the album Content and description of the album</p>
        </div>
        <div  class="col span-1-of-4 alb album-img">
            <!--<div class="border"></div>-->
            <img src="{% static 'music_blog/resourses/img/album-img.jpg'%}">
        </div>
    </div>
</section>
<section class="section-videos">
    <h1>THE LATEST REALASED SONGS</h1>
    <div class="videos clearfix vid-animate">
        <div class="video-big">
            <i class="fas fa-play-circle"></i>
            <img class="test" src="{% static 'music_blog/resourses/img/vid1.png'%}">
            <!--<iframe width="956" height="538" src="https://www.youtube.com/embed/nGhes-VIC94" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
        </div>
        <div class="video-min">
            <i class="far fa-play-circle"></i>
            <img class="test" src="{% static 'music_blog/resourses/img/vid-min1.jpg'%}">
            <!--<iframe width="956" height="538" src="https://www.youtube.com/embed/nGhes-VIC94" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
        </div>
        <div class="video-min">
            <i class="far fa-play-circle"></i>
            <img class="test" src="{% static 'music_blog/resourses/img/vid-min2.jpg'%}">
            <!--<iframe width="956" height="538" src="https://www.youtube.com/embed/nGhes-VIC94" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
        </div>
    </div>
    <div class='footer clearfix'>
      <div class="footer-img">
          <img src="{% static 'music_blog/resourses/img/map-white-s.png'%}">
      </div>
      <div class="footer-con">
          <div class="footer-content">
              <a href="#">News</a>
              <a href="#">Songs</a>
              <a href="#">Artists</a>
              <a href="#">Videos</a>
              <a href="#">Contact-Us</a>
          </div>
          <div class="footer-content social">
              <a href="#"><i class="fab fa-facebook-square"></i></a>
              <a href="#"><i class="fab fa-youtube-square"></i></a>
              <a href="#"><i class="fab fa-twitter-square"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-spotify"></i></a>
          </div><div class="footer-content copy">
              <span>Copyright © Mahmoud Reda 2019</span>
          </div>
      </div>
  </div>
</section>



<!-- login and signup forms-->
<section class="blur-screen">
    <div class="form">
        <div class="tab-group clearfix">
            <ul>
                <li class="tab active" onclick="document.getElementById('cr_form').action='{% url 'music_blog:user_login' %}'" id="log"><a href="#login">Log In</a></li>
                <li class="tab" onclick="document.getElementById('cr_form').action='.'" id="sign"><a href="#signup">Sign Up</a></li>
            </ul>
        </div>
        <form method="post" id='cr_form' enctype="multipart/form-data" action="{% url 'music_blog:user_login' %}">
          {% csrf_token %}
                <input type="file" id="userimage" name="userimage" accept="image/*">
                <label for="userimage" class="file"><img src="{% static 'music_blog/resourses/css/img/User_Avatar_1.png' %}" /></label>

            <!-- login form-->
            <div id="cs_signin_form" class="login">
                <label for="user">Username</label>
                <input type="text" name="username" id="user" />
                <label for="pass">Password</label>
                <input type="password" name="password" id="pass" />
                <a href="#">Forgot your password?</a>
                <input type="submit" value="Log In">
            </div>

            <!-- signup form-->
            <div id="cs_signup_form" class="signup">
              {{ user_form.as_p }}
              {{ profile_form.as_p }}
                          <!-- {{ RForm.as_label }} -->
                <!-- <label for="username">Username</label>
                <input type="text" name="username" id="username" />
                <label for="email">Email</label>
                <input type="email" name="email" id="email" />
                <label for="password">Password</label>
                <input type="password" name="password" id="password" />
                <label for="repassword">Retype Password</label>
                <input type="password" name="repassword" id="repassword" /> -->
                <input name ='form_type' type="submit" value="Sign Up">
            </div>
        </form>
    </div>
    <div class="fade"></div>
</section>
{% endblock %}
