{% load static %}

<header>
    <!--<div class="gred"></div>__>
    <!--<img class="gred1" src="{% static 'music_blog/resourses/css/img/Untitled-1.png">-->
    <nav>
        <div class="clearfix">
            <img src="{% static 'music_blog/resourses/img/logo1.svg'%}" class="logo">
            <ul class="main-nav clearfix js--main">
                <li><a href="#">Note</a></li>
                <li><a href="#">Artist</a></li>
                <li><a href="#">About</a></li>
                <li class="clearfix"><a href="#" id="signu">Signup</a></li>
                <li class="clearfix"><a href="#" id="logi">Login</a></li>
            </ul>
            <a class="mobile-nav-icon js--ico"><i class="fas fa-bars"></i></a>
        </div>
    </nav>

    <!--<div class="header-text-box">
        <h1>Discover new Music</h1>
    </div>-->

    <!--<div class="bar"></div>-->
    <!--<div id="violin" onmousemove="showCoords(event)">-->
    <div id="violin" onmousemove="showCoords(event)">
      <img class="disk d1" src="{% static 'music_blog/resourses/css/img/ds.png' %}">
      <img class="disk d2" src="{% static 'music_blog/resourses/css/img/ds.png' %}">
      <img class="disk d3" src="{% static 'music_blog/resourses/css/img/ds.png' %}">
      <img class="disk d4" src="{% static 'music_blog/resourses/css/img/ds.png' %}">
      <img class="disk d5" src="{% static 'music_blog/resourses/css/img/ds.png' %}">
      <img class="disk d6" src="{% static 'music_blog/resourses/css/img/ds.png' %}">
      <img src="{% static 'music_blog/resourses/css/img/po1.png' %}" id="pow">
    </div>
</header>
